@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
body{
  /* width:100%;
  height:100vh;
  position:relative;
  background-color: aliceblue; */
  /* background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 30%, rgba(233,193,255,1) 74%); */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Merriweather', serif;

}
.para-content{
  text-indent: 25px;
  letter-spacing: 1.5px;
  word-spacing: 2px;
  line-height: 25px;
  text-align: justify;
  font-weight:550;
}

/* Navigation bar */
.navbar{
  display: none;
  background-color: orangered;
  font-weight: bolder;
  /* height:7vh; */
  padding: 20px 0;
}
.navbar-left{
  padding:10px;
  position: fixed;
  left:0;
  height:100vh;
  width: 17vw;
  /* background:#063970  ; */
  background: rgb(74,91,212);
  background: linear-gradient(4deg, rgba(74,91,212,1) 20%, rgba(135,245,240,1) 58%, rgba(233,115,241,1) 79%);
  color:white;
}
.navbar-left .nav-link{
  color:white;
  font-weight: bolder;
}
.navbar-left .nav-link:hover{
  color:#7386f1;
}
.body-position-container{
  /* position: absolute;
  left:17vw;
  z-index: 20; */
  margin-left: 17vw;
  
}
.contact-section-body{
  position: absolute;
  bottom: 0;
  margin-top:1.5rem;
}
.contact-section{
  display: flex;
  justify-content: space-around;
}
/* Home Page */


.home-container{
  background: rgb(233,115,241);
  background: linear-gradient(29deg, rgba(233,115,241,1) 15%, rgba(135,245,240,1) 58%, rgba(115,134,241,1) 79%);
  color:white;
  margin-left: 1px;
  
}
.blockquote{
  text-shadow: #063970 2px 2px;
  font-weight: bolder;
  font-size: 24px;
  letter-spacing: 6px;
  
}
figcaption{
  color:whitesmoke;
}
  






/* Home page Container */


.Home-page-container{
  padding:2%;
}
.Home-Interest-Section-Container{
  border-style: solid;
  border-radius: 25px;
  border: 2px 2px;
  border-color: azure;
  box-shadow: grey 2px 2px 2px;
  padding:25px;
  width:75vw;
}
.Interest-container label {
  padding-right:25px;
}

/* Interest Calculation section */
.Interest-Section-container{
  
}
.Interest-container{
  display:flex;
  justify-content: center;
  
}
#CI{
  text-align: center;
}
.Interest-Result{
  width:60vw;
}
.Interest-Result h1{
  text-align: center;
}
.Interest-Result-Section{
  
  display:flex;
  justify-content: space-around;
}
.btn-calc{
  margin-right: 15px;
}

/* Interest Result Section */
.Interest-Result-Container{
  display:flex;
  justify-content: space-around;
}
.Dynamic-interest-section{
  padding:25px;
  margin-top: 15px;
  display: flex;
  width:70vw;
  justify-content:space-around;
  border-style: solid;
  border-radius: 25px;
  border: 2px 2px;
  border-color: azure;
  box-shadow: grey 2px 2px 2px;
  
}
.Interest-Pie-chart{
  width:40%;
  height:50%;
}
/* Page 2 Profit Loss Calculation design */
/* .Profit-body{
  margin : 5%;
} */
.Profit-container{
  padding:25px;
}

/* Profit Rendering Section */
.Profit-Result-body{
  width:75vw;
}
.Profit-Result-Section{
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  /* padding:25px; */
  margin-top: 25px;

}
.Profit-input-section{
  width:30vw;
}

/* END OF PROFIT/LOSS CONTAINER OR MODULE */

/* BEGINNING OF DEPRECIATION MODULE */
.deprecation-container{
  display: flex;
}
.Depreciation-calculation-section-body{
  display: flex;
  justify-content: center;
}

.Depreciation-Calculator-body{
  padding:25px;
  margin-top: 15px;
  display: flex;
  width:75vw;
  justify-content:space-around;
  border-style: solid;
  border-radius: 25px;
  border: 2px 2px;
  border-color: azure;
  box-shadow: grey 2px 2px 2px;
}
/* END OF DEPRECIATION MODULE */

/* BEGINNING Of Footer Section */
.body-footer-container{
  /* position: fixed;
  top:90vh;
  width:100vw;
  background-color: blue; */
  background-color: #063970;
  

}
.Footer-Container{
  margin-top: 5%;
  margin-left: 20vw;
  background-color: #063970;
  border-left: 2px solid white;
}
.footer-flex-container{
  background-color: black;
  display:flex;
  justify-content: space-between;
  padding: 0 5%;
  margin-left: 20vw;
}

.flink:hover{
  transform:scale(1.1,1.1);
  transition: transform 0.2s ease-in;
}

.Footer-Container{
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; */
}

.version-container{
  color:whitesmoke;
  width: 100%;
  align-items: end;
}

/* END OF FOOTER SECTION */

/* Mobile resolution design */
@media only screen and (max-width: 820px) {
  figcaption{
    color:black;
  }
  
  .home-container{
    background: white;
    color:black;
    margin-left: 1px;
    
  }
  .blockquote{
    text-shadow: grey 2px 2px;
    font-weight: bolder;
    font-size: 24px;
    letter-spacing: 6px;
    
  }
  .Interest-container{
    display:block;
    align-content:center;
  }
  .Interest-Result-Section{
    display: block;
    
  }
  .Home-Interest-Section-Container{
    width:auto;
  }
  .Dynamic-interest-section{
    display: block;
    width:auto;
  }
  .Interest-Pie-chart{
    width: inherit;
  }
  .body-position-container{
    margin-left: 0;
  }
  /* Profit or Loss */
  .Profit-Result-body{
    width:100vw;
  }
  .Profit-input-section{
    width:75vw;
  }
  .navbar{
    display: flex;
    font-weight: bolder;
    /* height:7vh; */
    padding: 20px 0;
    background: rgb(233,115,241);
    background: linear-gradient(29deg, rgba(233,115,241,1) 15%, rgba(135,245,240,1) 58%, rgba(115,134,241,1) 79%);
  }
  /* Begining of the footer mobile responsive section */
  .Footer-Container{
    margin-top: 25vh;
    margin-left: 0;
    background-color: #063970;
    border-left: 2px solid white;
  }
  .footer-flex-container{
    background-color: black;
    justify-content: space-between;
    padding: 0 5%;
    
  }
  .version-container{
    color:whitesmoke;
    display: block;
  }
  
}
@media only screen and (max-width: 1200px){
  .body-position-container{
    
  }
  
}
